<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt2sconnect.recipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/recipe_book"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/recipe_book"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.com.mt2sconnect.recipes"
            android:value="ca-app-pub-4178605509245433~3362418295"/>
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt2sconnect.recipes.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".RecipeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt2sconnect.recipes.GroupActivity" />
        </activity>
        <activity
            android:name=".RecipeListActivity"
            android:label="@string/title_activity_recipe_list"
            android:parentActivityName=".GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt2sconnect.recipes.GroupActivity" />
        </activity>

        <activity
            android:name=".FavouritListActivity"
            android:label="@string/title_activity_favourit_list"
            android:parentActivityName=".GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt2sconnect.recipes.MainActivity" />
        </activity>

        <activity
            android:name=".aboutpage.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt2sconnect.recipes.MainActivity" />
        </activity>

    </application>

</manifest>